<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Api.CommonProtos" version="2.15.0" />
  <package id="Google.Api.Gax" version="4.8.0" />
  <package id="Google.Api.Gax.Grpc" version="4.8.0" />
  <package id="Google.Apis" version="1.67.0" />
  <package id="Google.Apis.Auth" version="1.67.0" />
  <package id="Google.Apis.Core" version="1.67.0" />
  <package id="Google.Cloud.Speech.V1" version="3.8.0" manuallyInstalled="true" />
  <package id="Google.LongRunning" version="3.2.0" />
  <package id="Google.Protobuf" version="3.25.0" />
  <package id="Grpc.Auth" version="2.60.0" />
  <package id="Grpc.Core" version="2.46.6" manuallyInstalled="true" />
  <package id="Grpc.Core.Api" version="2.60.0" />
  <package id="Grpc.Net.Client" version="2.60.0" />
  <package id="Grpc.Net.Common" version="2.60.0" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" />
  <package id="Microsoft.Bcl.Memory" version="9.0.0" />
  <package id="Microsoft.Bcl.TimeProvider" version="8.0.1" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0" />
  <package id="Microsoft.IdentityModel.Abstractions" version="8.8.0" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="8.8.0" />
  <package id="Microsoft.IdentityModel.Logging" version="8.8.0" />
  <package id="Microsoft.IdentityModel.Tokens" version="8.8.0" />
  <package id="System.CodeDom" version="7.0.0" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.2" />
  <package id="System.IdentityModel.Tokens.Jwt" version="8.8.0" manuallyInstalled="true" />
  <package id="System.Management" version="7.0.2" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Security.Cryptography.Cng" version="4.5.0" />
  <package id="System.Text.Encodings.Web" version="8.0.0" />
  <package id="System.Text.Json" version="8.0.5" />
</packages>